.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  align-items: center;
  margin: 5vh 0 5vh 0;
  min-width: 200px;
}

.todosContainer {
  display: flex;
  flex-direction: column;
  width: min(500px, 90vw);
}

.newTodoContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin-bottom: 20px;
  padding: 1rem;
  border-radius: 1rem;
}

.inputField {
  height: min-content;
  font-size: 1.1rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border-radius: 0.75rem;
  border: solid 1px ;
  margin-right: min(2vw, 2vh);
  min-width: 50px;
}

.addTodoButton {
  border-radius: 1rem;
  border: solid 1px greenyellow;
  text-align: center;
  font-size: 1.1rem;
  min-width: 80px;
}

.applicationName {
  width: min(500px, 100vw);
  text-align: center;
  font-size: min(45px, 9vw);
}